@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
body {
    margin: 0;
    padding: 0;
    background: url(bg2.jpg);
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

h1:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.neon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 20px;
    font-size: 6em;
    color: #FFF;
    text-shadow: 0 0 20px #ff005b;
}

@keyframes blinker {
    0%{opacity: 1.0;}
    50%{opacity: 0.0;}
    100%{opacity: 1.0;}
}

.neon:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    filter: blur(15px);
}

.neon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: .5;
    filter: blur(40px);
}